/*GRID*/
$grid-padding: 1em;
$max-width: 1200px;
/*FONT*/
$font: Helvetica,Verdana,sans-serif;
$font-title: Helvetica,Verdana,sans-serif;
/*COULEUR*/
$text-color: #424242;
$color1: #561717;
$color2: #4c2284;
//BODY
$body-bg: #ffffff;
//HEADER
$header-bg-color: #262525;
$header-text-color: #ffffff;
//FOOTER
$footer-bg-color: #262525;
$footer-text-color: #ffffff;
